*{margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;

}

.intro{color: grey;
font-family: Arial, Helvetica, sans-serif;
font-weight: 50;
font-size: 10vh;
margin-bottom: 30px;
}

.option a{color: black;
text-decoration: none;
align-items: end;
}

.pageresume{margin-left: 30px;
margin-right: 30px;
font-family: Arial, Helvetica, sans-serif;
}

.Pageproject{margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 50%;
}