*{margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;

}

.intro{color: grey;
font-family: Arial, Helvetica, sans-serif;
font-weight: 50;
font-size: 10vh;
margin-bottom: 30px;
}

.option a{color: black;
text-decoration: none;
justify-content: end;

}

.pageresume{margin-left: 30px;
margin-right: 30px;
font-family: Arial, Helvetica, sans-serif;
}

img {width: 100%;
height: auto;
}


.contactdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;

}
.contactlogo{width: 30%;
}