*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}

.main{width: 100%;
height: 100vh;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.intro{color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
margin-bottom: 30px;
}

.resume {color: white;
text-decoration: none;
margin-bottom: 30px;}

.project {color: white;
text-decoration: none;
margin-bottom: 30px;}

.contact {color: white;
text-decoration: none;
margin-bottom: 30px;}

.pageresume{margin-left: 30px;
margin-right: 30px;
font-family: Arial, Helvetica, sans-serif;
}

.Pageproject{margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 50%;
}